*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 0 1rem;
}
.card {
  max-width: 18rem;
  padding: 1rem;
  border: 1px solid #cfc8c8;
  border-radius: 15px;
}

.card__img {
  margin: 0 0 1rem;
}

.card__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__btn {
  align-self: flex-start;
  font-size: 1rem;
  color: #fff;
  border: 0px;
  background-color: #2073cf;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}